<div class="row">
    <div class="col">
      <div class="card border-dark mb-3" style="margin-top: 20px;">
        <div class="card-header">Camps</div>
        <div *ngIf="!loadingComplete">
          <div class="d-flex justify-content-center">
            <div class="spinner-border" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
        </div>
        <div class="card-body text-white">
          <div class="card-text">
            <table class="table" *ngIf="Camps && Camps.length > 0; else noCamps">
              <thead>
                <tr>
                  <th scope="col">Camp Image</th>
                  <th scope="col">Name</th>
                  <th scope="col">Description</th>
                  <th scope="col">WeekDay Price</th>
                  <th scope="col">Weekend Price</th>
                  <th scope="col">Maximum Capacity</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let camp of Camps">
                  <td><img class="card-img-top" height="200px" width="50px" [src]='camp.imageURL' alt="Card image cap">
                  </td>
                  <td>{{ camp.title}}</td>
                  <td>{{ camp.description }}</td>
                  <td>{{ camp.priceforWeekdays | currency:'INR'}}</td>
                  <td>{{ camp.priceforWeekends | currency:'INR'}}</td>
                  <td>{{ camp.capacity}}</td>
                  <td>
                    <span class="Update" (click)="updateCamp(camp)">
                      <i class="fas fa-pen-alt"></i>
                    </span>
                  </td>
                  <td>
                    <span class="Delete" (click)="deleteCamp(camp)">
                      <i class="far fa-trash-alt"></i>
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
  
      </div>
    </div>
  </div>
  
  <ng-template #noCamps>
    <div *ngIf="loadingComplete">
      <div class="alert alert-danger">
        <div class="row">
          <div class="col-2">
            <span>No Camps Available</span>
          </div>
          <div class="col">
            <button class="btn btn-sm btn-info" (click)="navigateToCreateCamp()">Create Camp</button>
          </div>
        </div>
      </div>
    </div>
  </ng-template>