.col{
    margin-top: 50px;
    margin-left: 700px;
}
.form-control
{
    padding: 20px;
}
.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width:100%;
	height:100%;
	background-position:center center;
	background-size:cover;
	z-index:0;
  }


  #content-wrapper {
	position:relative;
	z-index:0 !important;
	min-width:100%;
	min-height:100%;
}

#background-carousel{
	position:relative;
	width:100%;
	height:100%;
	z-index:-1;
}